---
layout: no-container
permalink: /news/
---

<!-- hero -->
{% for item in site.categories.news limit:1 %}
<div class="jumbotron jumbo-heading jumbo-heading-image" style="background-image: url('{{site.baseurl}}/images/newsroom/{{item.image}}');">
	<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block visible-xs-block" />
	<div class="container text-left">
		<div class="row">
			<div class="col-md-8">
				<h2>
					{{ item.title }}
				</h2>
				<span class="label label-warning">
					{{ item.date | date: "%B %-d, %Y" }}
				</span>
				<p>
					{{ item.excerpt }}
				</p>
				<a href="{{ item.url | prepend: site.baseurl }}" class="btn btn-danger btn-lg">Read More</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<!-- next 3 -->
<div class="container">

	<div class="row">
		{% for item in site.categories.news limit:3 offset:1 %}
		<div class="col-md-4">
			<div class="panel panel-default newsroom">
				<header class="newsroom-thumb">
					<a href="{{ item.url | prepend: site.baseurl }}">
						<div class="embed-responsive embed-responsive-16by9">
							{% if item.video %}
							<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{item.video}}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
							{% elsif item.image %}
							<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block newsroom-image" />
							{% elsif item.remote_image %}
							<img src="{{item.remote_image}}" class="img-responsive center-block newsroom-image" />
							{% else %}
							<i class="fa fa-{%if item.icon%}{{item.icon}}{%else%}newspaper-o{%endif%} fa-5x center-block newsroom-image"></i>
							{% endif %}

						</div>
						<span class="newsroom-category label label-warning">{{item.cat}}</span>
					</a>
				</header>
				<div class="panel-body">
					<h3>
						<a href="{{ item.url | prepend: site.baseurl }}">
							{{ item.title }}
						</a>
					</h3>
					<p class="small text-muted">
						{{ item.date | date: "%B %-d, %Y | %H:%I %P EST" }}
					</p>
					<div class="panel-body-container">
						{{ item.excerpt }}
					</div>
				</div>
				<footer class="panel-footer">
					<a href="#"><i class="fa fa-fw fa-facebook"></i></a>
					<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
					<a href="#"><i class="fa fa-fw fa-pinterest"></i></a>
				</footer>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

<!-- recent news -->
<div class="jumbotron jumbo-heading-primary">
	<h2 class="text-center serif" style="color: #fff;">Recent News</h2>
</div>

<!-- remaining articles -->
<div class="container">
	<div class="row">
		<div class="col-md-8">

			<div class="row">
				{% for item in site.categories.news offset:4 %}
				<div class="col-sm-6">
					<article class="panel panel-default">
						<div class="newsroom">

							<div class="newsroom-thumb">
								<a href="{{ item.url | prepend: site.baseurl }}">
									<div class="embed-responsive embed-responsive-16by9">
										{% if item.video %}
										<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{item.video}}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
										{% elsif item.image %}
										<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block newsroom-image" />
										{% elsif item.remote_image %}
										<img src="{{item.remote_image}}" class="img-responsive center-block newsroom-image" />
										{% else %}
										<i class="fa fa-{%if item.icon%}{{item.icon}}{%else%}newspaper-o{%endif%} fa-5x center-block newsroom-image"></i>
										{% endif %}
									</div>
									<span class="newsroom-category label label-warning">{{item.cat}}</span>
								</a>
							</div>

						</div>
						<div class="panel-body">
							<h4>
								<a href="{{ item.url | prepend: site.baseurl }}">
									{{ item.title }}
								</a>
							</h4>

							<p class="small text-muted">
								{{ item.date | date: "%B %-d, %Y | %H:%I %P EST" }}
							</p>

							{{ item.excerpt }}
						</div>
						<footer class="panel-footer">
							<a href="#"><i class="fa fa-fw fa-facebook"></i></a>
							<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
							<a href="#"><i class="fa fa-fw fa-pinterest"></i></a>
						</footer>
					</article>
				</div>
				{% endfor %}

			</div>

		</div>
		<div class="col-md-4">
			{% include sidebar-news.html %}
		</div>
	</div>
</div>
