---
layout: no-container
permalink: /news/
---

{% for item in site.categories.news limit:1 %}
<div class="jumbotron jumbo-heading jumbo-heading-image" style="background-image: url('{{site.baseurl}}/images/newsroom/{{item.image}}');">
	<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block visible-xs-block" />
	<div class="container text-left">
		<div class="row">
			<div class="col-md-8">
				<h2>
					{{ item.title }}
				</h2>
				<span class="label label-warning">
					{{ item.date | date: "%B %-d, %Y" }}
				</span>

				<p>
					{{ item.excerpt }}
				</p>

				<a href="#" class="btn btn-danger btn-lg">Read More</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="container">

	<div class="row">

		{% for item in site.categories.news limit:3 offset:1 %}
		<div class="col-md-4">
			<div class="panel panel-default newsroom">
				<header class="newsroom-thumb">
					<a href="#">
						<div class="embed-responsive embed-responsive-16by9">
							{% if item.video %}
							<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{item.video}}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
							{% elsif item.image %}
							<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block newsroom-image" />
							{% elsif item.remote_image %}
							<img src="{{item.remote_image}}" class="img-responsive center-block newsroom-image" />
							{% else %}
							<i class="fa fa-{%if item.icon%}{{item.icon}}{%else%}newspaper-o{%endif%} fa-5x center-block newsroom-image"></i>
							{% endif %}

						</div>
						<span class="newsroom-category label label-warning">{{item.cat}}</span>
					</a>
				</header>
				<div class="panel-body">
					<h3>
						<a href="#">
							{{ item.title }}
						</a>
					</h3>
					<p class="small text-muted">
						{{ item.date | date: "%B %-d, %Y | %H:%I %P EST" }}
					</p>
					<div class="panel-body-container">
						{{ item.excerpt }}
					</div>
				</div>
				<footer class="panel-footer">
					<a href="#"><i class="fa fa-fw fa-facebook"></i></a>
					<a href="#"><i class="fa fa-fw fa-twitter"></i></a>
					<a href="#"><i class="fa fa-fw fa-pinterest"></i></a>
				</footer>
			</div>
		</div>
		{% endfor %}

	</div>

</div>

<div class="jumbotron jumbo-heading-primary">
	<h2 class="text-center" style="color: #fff;">Recent News</h2>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-7 col-md-8">

			{% for item in site.categories.news offset:4 %}
			<article class="thumbnail">
				<div class="row">
					<div class="col-md-5 newsroom">

						<div class="newsroom-thumb">
							<a href="#">
								<div class="embed-responsive embed-responsive-16by9">
									{% if item.video %}
									<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{item.video}}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
									{% elsif item.image %}
									<img src="{{site.baseurl}}/images/newsroom/{{item.image}}" class="img-responsive center-block newsroom-image" />
									{% elsif item.remote_image %}
									<img src="{{item.remote_image}}" class="img-responsive center-block newsroom-image" />
									{% else %}
									<i class="fa fa-{%if item.icon%}{{item.icon}}{%else%}newspaper-o{%endif%} fa-5x center-block newsroom-image"></i>
									{% endif %}
								</div>
							</a>
						</div>

					</div>
					<div class="col-md-7">
						<div class="caption">
							<h4>
								<a href="#">
									{{ item.title }}
								</a>
							</h4>
							{{ item.excerpt }}
						</div>
					</div>
				</div>
			</article>
			{% endfor %}

		</div>
		<div class="col-sm-5 col-md-4">

			<aside class="panel panel-success">
				<header class="panel-heading">
					<h4 class="panel-title">
						Press Releases
					</h4>
				</header>
				<div class="panel-body">
					lorem ipsum
				</div>
			</aside>

			<aside class="panel panel-success">
				<header class="panel-heading">
					<h4 class="panel-title">
						Download Media
					</h4>
				</header>
				<div class="panel-body">
					lorem ipsum
				</div>
			</aside>

			<aside class="panel panel-success">
				<header class="panel-heading">
					<h4 class="panel-title">
						Events
					</h4>
				</header>
				<div class="panel-body">
					lorem ipsum
				</div>
			</aside>

		</div>
	</div>
</div>
