<div id="nav-container" class="">
	<div class="container">

		<div id="nav-row-container" class="row">
			<div class="nav-col col-sm-2 text-center">
				<img src="{{ site.baseurl }}/images/logo.png" class="img-responsive center-block" />
			</div>
			<div class="nav-col col-sm-7">
				<div class="form-group">
					<input type="button" name="name" class="form-control input-sm">
				</div>
				<ul class="nav nav-tabs nav-justified">
					<li><a href="#">
						Residents
					</a></li>
					<li><a href="#">
						Business
					</a></li>
					<li><a href="#">
						Government
					</a></li>
					<li><a href="#">
						About Hillsborough
					</a></li>
				</ul>
			</div>
			<a href="#" id="nav-right-action" class="nav-col col-sm-3 text-center">
				I WANT TO...
			</a>
		</div>

	</div>
</div>
