<h3 class="text-center">
	Media Center
</h3>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Press Releases
		</h4>
	</header>
		{% for item in site.categories.news limit:3 %}
		<a href="#" class="list-group-item">
			{{item.title}}
		</a>
		{% endfor %}
</aside>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Download Media
		</h4>
	</header>
		{% for item in site.categories.news limit:3 %}
		<a href="#" class="list-group-item">
			{{item.title}}
		</a>
		{% endfor %}
</aside>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Events
		</h4>
	</header>
		{% for item in site.categories.news limit:3 %}
		<a href="#" class="list-group-item">
			{{item.title}}
		</a>
		{% endfor %}
</aside>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Contact
		</h4>
	</header>
	<div class="panel-body">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img src="https://commbocc.s3.amazonaws.com/uploads/employee/39/Michelle_VanDyke.jpg" class="media-object" />
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Michelle Van Dyke</h4>
				...
			</div>
		</div>

	</div>
</aside>
