<h3 class="text-center">
	Media Center
</h3>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Press Releases
		</h4>
	</header>
	<div class="panel-body">
		lorem ipsum
	</div>
</aside>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Download Media
		</h4>
	</header>
	<div class="panel-body">
		lorem ipsum
	</div>
</aside>

<aside class="panel panel-success">
	<header class="panel-heading">
		<h4 class="panel-title">
			Events
		</h4>
	</header>
	<div class="panel-body">
		lorem ipsum
	</div>
</aside>
